*{
	padding: 0px;
	margin: 0px;
}

div.row{
	margin-top: 10px;
	text-align: center;
	width: 970px;
	min-height: 100px;
}

	div.box{
		vertical-align: top;
		color: yellow;
		margin: 20px;
		padding: 10px;
		text-align: center;
		display: inline-block;
		width: 100px;
		min-height: 100px;
		border: 1px black solid;
		border-radius: 5px;
	}
	div.boxFarm{
		background-image: url("barn.jpeg");
	}
	div.boxCave{
		background-image: url("cave.jpeg");
	}
	div.boxHouse{
		background-image: url("house.jpeg");
	}	
	div.boxCasino{
		background-image: url("casino.jpeg");
	}

.blue{
	color: blue;
}
.red{
	color: red;
}

.reset{
	font-weight: bold;
	color: gold;
	background-color: red;
	height: 25px;
	width: 100px;
}
h5{
	height: 25px;
	margin-bottom: 15px;
}
h3{
	height: 25px;
}
.msgBox{
	height: 100px;
	overflow: scroll;
}
